<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>getSGPA</title>
    <link rel="stylesheet" href="form1.css"> <!-- form1.css is an external stylesheet linked with this page -->
    <link href="https://fonts.googleapis.com/css?family=Bree+Serif&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap" rel="stylesheet">
  </head>
  <body>

    <div class="header">
      <h1>SGPA CALCULATOR</h1>  <!--  Header of page -->
     
    </div>



    <form action="calculate_sgpa" method="post">
        <div class="imgcontainer">
          <img src="image.png" class="avatar"><br>
        </div>

        <div class="container1">

	{% csrf_token %}
          <label for="uname"><b>Username</b></label>    <!-- textfield to take username as input -->
          <input type="text" placeholder="Enter Username" name="uname" required>

          <label for="psw"><b>Password</b></label>      <!-- textfield to take password as input -->
          <input type="password" placeholder="Enter Password" name="psw" required>

          <input type="submit">Login</input>      <!-- login button -->

        </div>

        <div class="container2" style="background-color:#f1f1f1">
          <span class="psw"><a href="https://academics.gndec.ac.in/forgotpassword/">Forgot password?</a></span>
        </div>
    </form>

  </body>
</html>
